{% extends 'Project_Python/scheleton.html' %}

{% block content %}
{% load crispy_forms_tags %}

    {% if user.is_authenticated %}

    {% else %}
        <div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="margin-top: 20px">
                <button type="submit" class="btn btn-primary btn-sm h-d-btn">Log in</button>
            </div>

        </form>

        <div  style="margin-top: 30px">
        <b>If you don't have account click button "Sign up"</b>
        </div>

        <div style="margin-top: 7px">

        <a href="/sign_up" >
            <button class="btn btn-primary btn-sm h-d-btn">
                Sign up
            </button>
        </a>
        </div>
        </div>
    {% endif %}

{% endblock %}